<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Display</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="icon" href="logo.jpeg" style="border-radius: 25px;">
  <style>
    .btn{
      width: 80px;
    }
  </style>
</head>
<body class="bg-dark">
    <div class="text-center text-light">
        <h1><b><i>Leave Details</i></b></h1>
    </div>
    <% result.forEach(entry => { %>
        <div id="<%= entry._id %>" >
            <div class="row mx-3 my-3">
              <div class="col">
                <div class="card">
                    <h2 class="p-2"><b><i>Name: <%= entry.name %></i></b></h2>
                    <a class="p-2"><button onclick="enableEdit('<%= entry._id %>')" class="btn btn-primary"><b><i>View</i></b></button></a>
                </div>
              </div>
            </div>
            <form id="form-<%= entry._id %>" onsubmit="save('<%= entry._id %>'); return false;" style="display:none;" class="card mx-4 my-4 save p-3">
                <table class="table">
                    <tr class="table-primary">
                      <td><b><i>Company Name:</i></b></td>
                      <td><%= entry.cn%></td>
                    </tr>
                    <tr class="table-secondary">
                      <td><b><i>Client Name:</i></b></td>
                      <td><%= entry.clientName%></td>
                    </tr>
                    <tr class="table-warning">
                      <td><b><i>Reamining Annual Leaves</i></b></td>
                      <td><%= entry.aLeaves%></td>
                    </tr>
                    <tr class="table-light">
                      <td><b><i>Reamining Medical Leaves</i></b></td>
                      <td><%= entry.mLeaves%></td>
                    </tr>
                    <tr class="table-info">
                      <td><b><i>Carry Forward leaves</i></b></td>
                      <td><%= entry.cf%></td>
                    </tr>
                </table>
                <table class="table">
                <h2 class="text-center mb-1 mt-2"><b><i>Monthly Leave Details - <%= entry.year%></i></b></h2>
                <tr>
                    <td><b><i><h3 class="mb-3 mt-2 ms-2"><b><i>Annual Leaves</i></b></h3></i></b></td>
                </tr>
                    <tr class="table-info">
                      <td><b><i>January: </i></b><%= entry.jan %></td>
                      <td><b><i>February: </i></b><%= entry.feb %></td>
                      <td><b><i>March: </i></b><%= entry.mar %></td>
                      <td><b><i>April: </i></b><%= entry.apr %></td>
                      <td><b><i>May: </i></b><%= entry.may %></td>
                      <td><b><i>June: </i></b><%= entry.jun %></td>
                    </tr>
                    <tr class="table-warning">
                      <td><b><i>July: </i></b><%= entry.jul %></td>
                      <td><b><i>August: </i></b><%= entry.aug %></td>
                      <td><b><i>September: </i></b><%= entry.sep %></td>
                      <td><b><i>October: </i></b><%= entry.oct %></td>
                      <td><b><i>November: </i></b><%= entry.nov %></td>
                      <td><b><i>December: </i></b><%= entry.dec %></td>
                    </tr>
                </table>
                <table class="table">
                    <tr>
                        <td><b><i><h3 class="mb-3 mt-2 ms-2"><b><i>Medical Leaves</i></b></h3></i></b></td>
                    </tr>
                    <tr class="table-success">
                      <td><b><i>January: </i></b><%= entry.jan_ml %></td>
                      <td><b><i>February: </i></b><%= entry.feb_ml %></td>
                      <td><b><i>March: </i></b><%= entry.mar_ml %></td>
                      <td><b><i>April: </i></b><%= entry.apr_ml %></td>
                      <td><b><i>May: </i></b><%= entry.may_ml %></td>
                      <td><b><i>June: </i></b><%= entry.jun_ml %></td>
                    </tr>
                    <tr class="table-warning">
                      <td><b><i>July: </i></b><%= entry.jul_ml %></td>
                      <td><b><i>August: </i></b><%= entry.aug_ml %></td>
                      <td><b><i>September: </i></b><%= entry.sep_ml %></td>
                      <td><b><i>October: </i></b><%= entry.oct_ml %></td>
                      <td><b><i>November: </i></b><%= entry.nov_ml %></td>
                      <td><b><i>December: </i></b><%= entry.dec_ml %></td>
                    </tr>
                  </table>
            <button type="submit" class="btn btn-success" onclick="hide()"><b><i>Hide</i></b></button>
          </form>
    </div>
    <% }) %>
  <script>
    function enableEdit(id) {
      const entryDiv = document.getElementById(id);
      const editButton = entryDiv.querySelector('button');
      const form = document.getElementById('form-' + id);
      editButton.style.display = 'none';
      form.style.display = 'block';
    }

    function hide(){
        window.location.reload();
    }

</script>
</body>
</html>
